src/main/resources/wsdl/WS_CCISSEXPOService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><xs:schema xmlns:tns="http://e015.dtt.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://e015.dtt.it/">

<xs:element name="EVENTI" type="tns:eventixmlType" />

<xs:element name="LOCALITA" type="tns:localitaxmlType" />

<xs:element name="NOTIZIA" type="tns:notiziaxmlType" />

<xs:element name="geteventi" type="tns:geteventi" />

<xs:element name="geteventiResponse" type="tns:geteventiResponse" />

<xs:complexType name="geteventi">
<xs:sequence>
<xs:element name="FiltroProv" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="geteventiResponse">
<xs:sequence>
<xs:element name="EVENTI" type="tns:eventixmlType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="eventixmlType">
<xs:sequence>
<xs:element name="NOTIZIA" type="tns:notiziaxmlType" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="CodiceMessaggio" type="xs:string" minOccurs="0" />
<xs:element name="Descrizione" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="notiziaxmlType">
<xs:sequence>
<xs:element name="locationDBVersion" type="xs:string" minOccurs="0" />
<xs:element name="luogo_punto" type="xs:string" minOccurs="0" />
<xs:element name="evento" type="xs:string" minOccurs="0" />
<xs:element name="testo" type="xs:string" minOccurs="0" />
<xs:element name="localita" type="tns:localitaxmlType" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="direzione" type="xs:string" minOccurs="0" />
<xs:element name="nomedirezione" type="xs:string" minOccurs="0" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
<xs:attribute name="priorita" type="xs:string" />
<xs:attribute name="ora" type="xs:string" />
<xs:attribute name="data" type="xs:string" />
<xs:attribute name="versione" type="xs:string" />
<xs:attribute name="numero" type="xs:string" />
</xs:complexType>

<xs:complexType name="localitaxmlType">
<xs:sequence />
<xs:attribute name="tipo" type="xs:string" />
<xs:attribute name="locid" type="xs:string" />
<xs:attribute name="prov" type="xs:string" />
<xs:attribute name="reg" type="xs:string" />
<xs:attribute name="lng" type="xs:string" />
<xs:attribute name="lat" type="xs:string" />
<xs:attribute name="code" type="xs:string" />
</xs:complexType>
</xs:schema>